footer{
    // background-color: $dark-bg-color;
    .copyright{
        color: $default-bg-color;
        padding: 1.5rem 0;
        text-align: center;
        font-size: 1.7rem;
        letter-spacing: 1.2px;
        font-weight: 100;
        font-family: $third-font-family;

        .heart{
            color: $error-bg-color;
        }
    }

    .conditions{
        display: flex;
        justify-content: center;
        border-top: .1rem #eee solid;
        & > *{
            color: $white-bg-color;
            padding: .5rem 1rem 1.5rem;
            font-size: 1.5rem;
            font-family: $third-font-family;
            text-transform: capitalize;
            a{
                &:hover{
                    // text-decoration: underline;
                    padding-bottom: 1rem;
                    color: #eee;
                }
            }

        }
    }
}