.header{
    background-image: url('/static/img/hero.jpg');
    // linear-gradient(to top left, rgba($text-color2, .4), rgba($text-color1, .6), rgba($bg-color3, .7)), 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-width: 100%;
    height: 70vh;

}