// font family
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&family=Rubik:wght@300&display=swap');
$primary-font-family: 'Nunito', sans-serif;
$secondary-font-family: 'Rubik', sans-serif;
$third-font-family: 'Courier New', Courier, monospace;

// Colors Palette
$white-bg-color: #fff;
$default-bg-color: #f6f6f6;
$dark-bg-color: #000;
$info-bg-color: #0dcaf0;
$success-bg-color: #198754;
$warning-bg-color: #ffc107;
$primary-bg-color: #0d6efd;
$error-bg-color: #ff0000;






